{%- comment -%}
  Include vars:
  scrolly_nav
{%- endcomment -%}
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
      inlineMath: [['$','$']]
    }
  });
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML' async></script>
<!-- Header -->
<div id="header">
  <div class="top">
    {%- include logo.html -%}
    {%- include nav.html section_items=include.scrolly_nav -%}
  </div>
  <div class="bottom">
    {%- include social_icons.html -%}
  </div>
</div>
